*{
    margin: 0px;
    padding: auto;
    background-color: rgb(136, 128, 128);
}
#main{
    
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    /* align-items: flex-start; */
}
#main>div{
    padding: auto;
    border: 2px solid black;
    background-color: rgb(244, 243, 242);
    border-radius: 2%;
    height: 500px;
    width: 350px;


}
#main div h3,p{
    padding: 10px;
    margin: 10px;
background-color: rgb(247, 240, 232);
}
#main div img{
    margin: 4px;
    border-radius: 10px;
    width: 98%;
    height: 200px;
}
#main div:hover{
    box-shadow: 2px 2px 10px 1px;
    transform: scale(1.025);

}