*{
    margin: 0px;
    padding: 0px;
    font-family: 'popins','sans-serif';
}

.main_box{
    
    background-image: url(./photo.jpg);
    height: 100vh;
    background-size: cover;
}


.btn_one{
    color: white;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 20px;
    line-height: 10px;
    top: 12px ;
}

.sidebar_menu{
    position: fixed;
    /* left: -300px; */
    height: 100vh;
    width: 300px;
    background-color: rgba(195, 194, 194, 0.131);
    box-shadow: 0 0 6px rgba(158, 155, 155, 0.255);

}

#check{
    display: none;

}

.logo>a{
    text-decoration: none;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    left: 50px;
    top: 10px;
}

.btn_two i{
    position: absolute;
    top: 13px;
    left: 260px;
    font-size: 25px;

}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 60px;
}

.menu li{
    margin-top: 6px;
    padding :14px 30px;
    line-height: 5px;

}

.menu li,a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
} 

.social_media{
    position: absolute;
    bottom: 70px;
    left: 20px;
    
}

.social_media i{
    padding: 2px 4px ;
    color: rgb(113, 110, 110); 

}

.menu li:hover{
    background-color: rgba(195, 194, 194, 0.131);
    box-shadow: 0 0 6px rgba(158, 155, 155, 0.255);

}

.social_media i:hover{
    color:white ;
    transform: scale(1.5);
}

.btn_two i:hover{
    transform: scale(1.5);
    cursor: pointer;

}

 